@model ProductTabModel

@{
    Layout = "_AdminLayout";
    //page title
    ViewBag.PageTitle = T("Admin.NopStation.ProductTabs.ProductTabs.EditDetails").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("ProductTabs");
}

<form asp-controller="ProductTab" asp-action="Edit" method="post" id="home-page-producttab-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.NopStation.ProductTabs.ProductTabs.EditDetails")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.NopStation.ProductTabs.ProductTabs.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <button type="button" class="btn bg-red" id="producttab-delete">
                <i class="far fa-trash-alt"></i>
                @T("Admin.Common.Delete")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="producttab-delete" />