@model ChangePasswordModel
@using Nop.Core
@using Nop.Core.Domain.Common
@inject Nop.Services.Configuration.ISettingService settingService
@inject Nop.Services.Media.IPictureService pictureService
@inject CommonSettings commonSettings
@inject IStoreContext storeContext
@inject IWebHelper webHelper

@{
    Layout = "_ColumnsTwo";

    //title
    NopHtml.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-account-page");
    NopHtml.AppendPageCssClassParts("html-change-password-page");
    var breadcrumbDelimiter = commonSettings.BreadcrumbDelimiter;
    var store = await storeContext.GetCurrentStoreAsync();
    var showBreadcrumbBackground = await settingService.GetSettingByKeyAsync<bool>("beautyShopSettings.ShowBreadcrumbPicture", storeId: store.Id, loadSharedValueIfNotFound: true);
    var breadcrumbBackgroundPictureUrl = "";
    if (showBreadcrumbBackground)
    {
        var breadcrumbBackgroundPictureId = await settingService.GetSettingByKeyAsync<int>("beautyShopSettings.BreadcrumbPictureId", storeId: store.Id, loadSharedValueIfNotFound: true);
        breadcrumbBackgroundPictureUrl = await pictureService.GetPictureUrlAsync(breadcrumbBackgroundPictureId);
    }
}
@section Breadcrumb
{

    <div class="breadcrumb-background beautyShop-secondery-color-bg" style="background-image:url('@breadcrumbBackgroundPictureUrl');">
        <div class="breadcrumb-container">
            <div class="breadcrumb-current-item">
                <h4 class="beautyShop-primary-color-text">
                    @T("Account.MyAccount")
                </h4>
            </div>
            <div class="breadcrumb">
                <ul itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li>
                        <span>
                            <a class="beautyShop-primary-color-hover" href="@Url.RouteUrl("Homepage")">
                                <span>@T("Products.Breadcrumb.Top")</span>
                            </a>
                        </span>
                        <span class="delimiter">@breadcrumbDelimiter</span>
                    </li>
                    <li>
                        <span>
                            <span>@T("Account.MyAccount") - @T("Account.ChangePassword")</span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

}

@section left
{
    @await Component.InvokeAsync(typeof(CustomerNavigationViewComponent), new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}

<div class="page account-page change-password-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - @T("Account.ChangePassword")</h1>
    </div>
    <div class="page-body">
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.CustomerChangePasswordTop, additionalData = Model })

        <form asp-route="CustomerChangePassword" method="post" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="fieldset">
                <div class="form-fields">
                    <div class="warnings">
                        @if (Model.PasswordExpired)
                        {
                            <p>@T("Account.ChangePassword.PasswordIsExpired")</p>
                        }
                        @if (Model.PasswordMustBeChanged)
                        {
                            <p>@T("Account.ChangePassword.MustBeChanged")</p>
                        }
                    </div>
                    <div class="inputs">
                        <label asp-for="OldPassword" asp-postfix=":"></label>
                        <div class="form-input-wrapper">
                            <input asp-for="OldPassword" />
                            <div class="change-password-recovery-link">
                                <a asp-route="PasswordRecovery">@T("Account.Login.ForgotPassword")</a>
                            </div>
                        </div>
                        <nop-required />
                        <span asp-validation-for="OldPassword"></span>
                    </div>
                    <div class="inputs">
                        <label asp-for="NewPassword" asp-postfix=":"></label>
                        <input asp-for="NewPassword" />
                        <nop-required />
                        <span asp-validation-for="NewPassword"></span>
                    </div>
                    <div class="inputs">
                        <label asp-for="ConfirmNewPassword" asp-postfix=":"></label>
                        <input asp-for="ConfirmNewPassword" />
                        <nop-required />
                        <span asp-validation-for="ConfirmNewPassword"></span>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button type="submit" class="button-1 change-password-button beautyShop-primary-color-bg">@T("Account.ChangePassword.Button")</button>
            </div>
        </form>
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.CustomerChangePasswordBottom, additionalData = Model })

    </div>
</div>