@model List<NopStation.Plugin.Theme.BeautyShop.Models.FooterTopDescriptionModel>

@if (Model.Count > 0)
{
    <div class="shipping-types-wrapper">
        <div class="custom-container">
            <div class="shipping-types clearfix">
                @foreach (var descriptionBox in Model)
                {
                    @if (!String.IsNullOrEmpty(descriptionBox.Url))
                    {
                        <a href="@descriptionBox.Url" class="information-box">
                            <div class="shipping-type">
                                <div class="shipping-type--icon"><img src="@descriptionBox.PictureUrl" alt="" /></div>
                                <div class="shipping-type--info">
                                    <h3 class="shipping-type--title">@descriptionBox.Title</h3>
                                    <p class="shipping-type--desc">@Html.Raw(descriptionBox.Text)</p>
                                </div>
                            </div>
                        </a>
                    }
                    else
                    {
                        <div class="shipping-type">
                            <div class="shipping-type--icon"><img src="@descriptionBox.PictureUrl" alt="" /></div>
                            <div class="shipping-type--info">
                                <h3 class="shipping-type--title">@descriptionBox.Title</h3>
                                <p class="shipping-type--desc">@Html.Raw(descriptionBox.Text)</p>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
}

