@model DealOfTheDayListModel

@foreach (var dealoftheday in Model.DealOfTheDays)
{

    var bg = dealoftheday.ShowBackgroundPicture ? $"style=\"background:url('{dealoftheday.BackgroundPictureUrl}') no-repeat center; background-size: cover;\"" : "";
    if (dealoftheday.ShowBackgroundPicture)
    {
        <div class="custom-container">
            @if (dealoftheday.DisplayTitle)
            {
                <div class="title beautyShop-big-title dealoftheday-ocarousel-background-title">
                    <strong>@dealoftheday.Title</strong>
                </div>
            }
        </div>


        <div class="dealoftheday-ocarousel-background" style="background:url('@dealoftheday.BackgroundPictureUrl') no-repeat center; background-size: cover;">
            <div class="custom-container">
                <div class="ocarousel-grid dealoftheday-carousel">
                    <div class="dealoftheday-container carousel-dealoftheday" data-dealofthedayid="@dealoftheday.Id">
                        <div class="loader">
                            <div class="lds-ripple"><div class="beautyShop-primary-color-border"></div><div class="beautyShop-primary-color-border"></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
    else
    {
        <div class="custom-container">
            <div class="ocarousel-grid dealoftheday-carousel">
                @if (dealoftheday.DisplayTitle)
                {
                    <div class="title beautyShop-big-title">
                        <strong>@dealoftheday.Title</strong>
                    </div>
                }

                <div class="dealoftheday-container carousel-dealoftheday" data-dealofthedayid="@dealoftheday.Id">
                    <div class="loader">
                        <div class="lds-ripple"><div class="beautyShop-primary-color-border"></div><div class="beautyShop-primary-color-border"></div></div>
                    </div>
                </div>
            </div>
        </div>
    }
}