@model HeaderLinksModel
@using Nop.Core.Domain.Customers
@inject Nop.Core.IWebHelper webHelper


@await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HeaderLinksBefore })
<div class="header-links">
    <ul>
        <li>
            <button href="#" class="search-toggle search-toggle-button">
                <span class="icon icon-search beautyShop-header-font-color beautyShop-primary-color-hover"></span>
                @T("NopStation.Theme.BeautyShop.search.toggle")
            </button>
        </li>
        <li class="user-dropdown">
            <a href="#">
                <span class="icon icon-user beautyShop-header-font-color beautyShop-primary-color-hover"></span>
            </a>
            <ul>
                @if (Model.IsAuthenticated)
                {
                    <li><a href="@Url.RouteUrl("CustomerInfo")" class="ico-account beautyShop-primary-color-hover beautyShop-primary-color-text">@T("Account.MyAccount")@*@Model.CustomerName*@</a></li>
                    <li><a href="@Url.RouteUrl("Logout")" class="ico-logout beautyShop-primary-color-hover beautyShop-primary-color-text">@T("Account.Logout")</a></li>
                }
                else
                {
                    var returnUrl = Context.Request.Query.TryGetValue("returnUrl", out var url) && !StringValues.IsNullOrEmpty(url)
                        ? url.ToString()
                        : webHelper.GetRawUrl(Context.Request);

                    @if (Model.RegistrationType != UserRegistrationType.Disabled)
                    {
                        <li><a href="@Url.RouteUrl("Register", new { returnUrl })" class="ico-register beautyShop-primary-color-hover beautyShop-primary-color-text">@T("Account.Register")</a></li>
                    }
                    <li><a href="@Url.RouteUrl("Login", new { returnUrl })" class="ico-login beautyShop-primary-color-hover beautyShop-primary-color-text">@T("Account.Login")</a></li>
                }
            </ul>
        </li>

        <li class="wishlist-enabled" style="display:none;">
            <div class="custom-wishlist">
                <a href="@Url.RouteUrl("Wishlist")" class="ico-wishlist beautyShop-primary-color-hover">
                    <span class="wishlist-label">@T("Wishlist")</span>
                    <span class="wishlist-qty">@T("Wishlist.HeaderQuantity", Model.WishlistItems)</span>
                </a>
            </div>
        </li>


        @if (Model.AllowPrivateMessages)
        {
            <li>
                <a href="@Url.RouteUrl("PrivateMessages", new { tab = "" })" class="ico-inbox ">
                    <span class="inbox-label"><i class="icon-email beautyShop-header-font-color beautyShop-primary-color-hover" title="@T("PrivateMessages.Inbox")"></i></span>
                    <span class="inbox-unread">@Model.UnreadPrivateMessages</span>
                </a>
            </li>
        }

        @if (Model.ShoppingCartEnabled)
        {
            <li id="topcartlink">
                <a href="@Url.RouteUrl("ShoppingCart")" class="icon icon-cart-icon beautyShop-header-font-color beautyShop-primary-color-hover">
                    @*<span class="cart-label">@T("ShoppingCart")</span>*@
                    <span class="cart-qty beautyShop-primary-color-bg">@T("ShoppingCart.HeaderQuantity", Model.ShoppingCartItems)</span>
                </a>
            </li>
        }
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HeaderLinksAfter })
    </ul>
    @if (Model.AllowPrivateMessages && !string.IsNullOrEmpty(Model.AlertMessage))
    {
        //new private message notification
        <script asp-location="Footer">
            $(document).ready(function () {
                displayPopupNotification('@Html.Raw(JavaScriptEncoder.Default.Encode(Model.AlertMessage))', 'success', false);
            });
        </script>
    }
    @if (Model.ShoppingCartEnabled)
    {
        <script asp-location="Footer">
            $(document).ready(function () {
                $('.header').on('mouseenter', '#topcartlink', function () {
                    $('#flyout-cart').addClass('active');
                });
                $('.header').on('mouseleave', '#topcartlink', function () {
                    $('#flyout-cart').removeClass('active');
                });
                $('.header').on('mouseenter', '#flyout-cart', function () {
                    $('#flyout-cart').addClass('active');
                });
                $('.header').on('mouseleave', '#flyout-cart', function () {
                    $('#flyout-cart').removeClass('active');
                });
            });
        </script>
    }

    @if (Model.WishlistEnabled)
    {
        <script asp-location="Footer">
            $(document).ready(function () {
                $('.wishlist-enabled > .custom-wishlist').prependTo('.header-upper > .header-selectors-wrapper');
            });
        </script>
    }
</div>
