@model ProductDetailsModel
@inject Nop.Core.IWorkContext workContext
@{
    var supportRtl = (await workContext.GetWorkingLanguageAsync()).Rtl;
    NopHtml.AddScriptParts(ResourceLocation.Footer, "/lib_npm/magnific-popup/jquery.magnific-popup.min.js");
    NopHtml.AddCssFileParts("/lib_npm/magnific-popup/magnific-popup.css");
}
<div class="gallery">
    <div class="picture">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsBeforePictures, additionalData = Model })
        @if (Model.PictureModels.Count == 1)
        {
            <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" id="main-product-img-@Model.Id" />
        }

        else if (Model.PictureModels.Count > 1)
        {
            <div class="owl-carousel picture-details-carousel">
                @foreach (var picture in Model.PictureModels)
                {
                    <div class="item">
                        <img alt="@picture.AlternateText" src="@picture.ImageUrl" title="@picture.Title" style="border-width: 0px;" />
                    </div>
                }
            </div>
        }
    </div>

    <script>
        $('.picture-details-carousel').owlCarousel({
            nav: true, // Show next and prev buttons
            items: 1,
            responsiveBaseElement: 'body',
            margin: 10,
            dots: true,
            rtl: @supportRtl.ToString().ToLower(),
            loop: true,
            autoplay: true,
            autoplayTimeout: 3000
        });
    </script>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsAfterPictures, additionalData = Model })
</div>

