@model BoardsIndexModel
@using Nop.Core
@using Nop.Core.Domain.Common
@using Nop.Core.Domain.Tax
@inject IWebHelper webHelper
@inject IWorkContext workContext
@inject Nop.Services.Configuration.ISettingService settingService
@inject Nop.Services.Media.IPictureService pictureService
@inject CommonSettings commonSettings
@inject IStoreContext storeContext
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("Forum.PageTitle.Default").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-forums-main-page");
    var breadcrumbDelimiter = commonSettings.BreadcrumbDelimiter;
    var store = await storeContext.GetCurrentStoreAsync();
    var showBreadcrumbBackground = await settingService.GetSettingByKeyAsync<bool>("beautyShopSettings.ShowBreadcrumbPicture", storeId: store.Id, loadSharedValueIfNotFound: true);
    var breadcrumbBackgroundPictureUrl = "";
    if (showBreadcrumbBackground)
    {
        var breadcrumbBackgroundPictureId = await settingService.GetSettingByKeyAsync<int>("beautyShopSettings.BreadcrumbPictureId", storeId: store.Id, loadSharedValueIfNotFound: true);
        breadcrumbBackgroundPictureUrl = await pictureService.GetPictureUrlAsync(breadcrumbBackgroundPictureId);
    }
}
@section Breadcrumb
{

    <div class="breadcrumb-background beautyShop-secondery-color-bg" style="background-image:url('@breadcrumbBackgroundPictureUrl');">
        <div class="breadcrumb-container">
            <div class="breadcrumb-current-item">
                <h4 class="beautyShop-primary-color-text">
                    @T("Forum")
                </h4>
            </div>
            <div class="breadcrumb">
                <ul itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li>
                        <span>
                            <a class="beautyShop-primary-color-hover" href="@Url.RouteUrl("Homepage")">
                                <span>@T("Products.Breadcrumb.Top")</span>
                            </a>
                        </span>
                        <span class="delimiter">@breadcrumbDelimiter</span>
                    </li>
                    <li>
                        <span>
                            <span>@T("Forum")</span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

}
<div class="page forums-main-page">
    @await Component.InvokeAsync(typeof(TopicBlockViewComponent), new { systemName = "ForumWelcomeMessage" })
    @await Html.PartialAsync("_ForumHeader")
    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.BoardsMainAfterHeader })
    @foreach (var forumGroup in Model.ForumGroups)
    {
        await Html.RenderPartialAsync("_ForumGroup", forumGroup);
    }
    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.BoardsMainBeforeActivediscussions })
    @await Component.InvokeAsync(typeof(ForumActiveDiscussionsSmallViewComponent))
    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.BoardsMainAfterActivediscussions })
</div>
