@using System.Globalization;
@model DealOfTheDayModel

@if (Model.Products.Count > 0)
{
    <div data-countdown="@Model.Discount?.EndDateUtc?.ToString("yyyy-MM-ddTHH:mm:ss", new CultureInfo("en-US"))"></div>
    <div class="owl-carousel ocarousel @Model.CustomCssClass" id="ocarousel-@(Model.Id)">

        @foreach (var product in Model.Products)
        {
            <div class="item-box">
                @await Html.PartialAsync("_ProductBox", product)
            </div>
        }
    </div>

    <script>
        $(document).ready(function () {
            $('#ocarousel-@(Model.Id)').owlCarousel({
                nav: @Model.Nav.ToString().ToLower(),
                loop: @Model.Loop.ToString().ToLower(),
                dots: true,
                margin: 10,
                autoplay: @Model.AutoPlay.ToString().ToLower(),
                rtl: @Model.RTL.ToString().ToLower(),
                autoplayTimeout: @Model.AutoPlayTimeout,
                autoplayHoverPause: @Model.AutoPlayHoverPause.ToString().ToLower(),
                lazyLoad: @Model.LazyLoad.ToString().ToLower(),
                lazyLoadEager: @Model.LazyLoadEager,
                center: @Model.Center.ToString().ToLower(),
                startPosition: @Model.StartPosition,
                responsive: {
                    0: {
                        items: 1
                    },
                    576: {
                        items: 1
                    },
                    768: {
                        items: 2
                    },
                    992: {
                        items: 4
                    },
                    1200: {
                        items: 4
                    },
                    1500: {
                        items: 4
                    }
                }
            });
            $('[data-countdown]').each(function () {

                var $this = $(this), finalDate = $(this).data('countdown');
                var date = new Date(finalDate)
                $this.countdown(date.getTime(), function (event) {
                    $this.html(event.strftime(''
                        + '<span class="count day"><span>%D</span> Days</span> '
                        + '<span class="count hours"><span>%H</span> Hours </span>'
                        + '<span class="count min"><span>%M</span> Minutes </span>'
                        + '<span class="count sec"><span>%S</span> Seconds</span>'));
                });
            });
        });
    </script>
}
@NopHtml.GenerateInlineScripts(ResourceLocation.Footer)