@model DealOfTheDaySearchModel
@inject AdminAreaSettings adminAreaSettings

@{
    //page title
    ViewBag.PageTitle = T("Admin.NopStation.DealOfTheDays.CarouselList").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("DealOfTheDays");
}

@{
    const string hideSearchBlockAttributeName = "DealOfTheDaysPage.HideSearchBlock";
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
}

<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Admin.NopStation.DealOfTheDays.DealOfTheList")
    </h1>
    <div class="float-right">
        <a asp-action="Create" class="btn btn-primary">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="cards-group">
            <div class="card panel-default panel-search">
                <div class="card-body">
                    <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                        <div class="search-text">@T("Admin.Common.Search")</div>
                        <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                    </div>

                    <div class="search-body @(hideSearchBlock ? "closed" : "")">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchActiveId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchActiveId" asp-items="Model.AvailableActiveOptions" />
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchWidgetZones" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchWidgetZones" asp-items="Model.AvailableWidgetZones" asp-multiple="true" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchStoreId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchStoreId" asp-items="Model.AvailableStores" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-md-offset-4">

                            </div>
                            <div class="form-group row">
                                <button type="button" id="search-carousel" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card panel-default">
                <div class="card-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
                    {
                        Name = "carousel-grid",
                        UrlRead = new DataUrl("List", "DealOfTheDay", null),
                        Length = adminAreaSettings.DefaultGridPageSize,
                        LengthMenu = adminAreaSettings.GridPageSizes,
                        SearchButtonId = "search-carousel",
                        Filters = new List<FilterParameter>
                        {
                            new FilterParameter(nameof(Model.SearchStoreId)),
                            new FilterParameter(nameof(Model.SearchWidgetZones)),
                            new FilterParameter(nameof(Model.SearchActiveId))
                        },
                        ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(DealOfTheDayModel.Name))
                            {
                                Title = T("Admin.NopStation.DealOfTheDays.DealOfTheDays.Fields.Name").Text,
                                Width = "80"
                            },
                            new ColumnProperty(nameof(DealOfTheDayModel.Title))
                            {
                                Title = T("Admin.NopStation.DealOfTheDays.DealOfTheDays.Fields.Title").Text,
                                Width = "80"
                            },

                            new ColumnProperty(nameof(DealOfTheDayModel.WidgetZoneStr))
                            {
                                Title = T("Admin.NopStation.DealOfTheDays.DealOfTheDays.Fields.WidgetZone").Text,
                                Width = "80"
                            },
                            new ColumnProperty(nameof(DealOfTheDayModel.DisplayOrder))
                            {
                                Title = T("Admin.NopStation.DealOfTheDays.DealOfTheDays.Fields.DisplayOrder").Text,
                                Width = "80",
                                ClassName = NopColumnClassDefaults.CenterAll
                            },
                            new ColumnProperty(nameof(DealOfTheDayModel.Active))
                            {
                                Title = T("Admin.NopStation.DealOfTheDays.DealOfTheDays.Fields.Active").Text,
                                Width = "80",
                                ClassName = NopColumnClassDefaults.CenterAll,
                                Render = new RenderBoolean()
                            },
                            new ColumnProperty(nameof(DealOfTheDayModel.Id))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "100",
                                ClassName = NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(new DataUrl("~/Admin/DealOfTheDay/Edit/"))
                            }
                        }
                    })
                </div>
            </div>
        </div>
    </div>
</div>
