@model NewsItemListModel
@using Nop.Core
@using Nop.Core.Domain.Common
@inject Nop.Services.Configuration.ISettingService settingService
@inject Nop.Services.Media.IPictureService pictureService
@inject CommonSettings commonSettings
@inject IStoreContext storeContext
@inject IWebHelper webHelper
@{
    Layout = "_ColumnsTwo";

    //title
    NopHtml.AddTitleParts(T("PageTitle.NewsArchive").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-news-list-page");
    var breadcrumbDelimiter = commonSettings.BreadcrumbDelimiter;
    var store = await storeContext.GetCurrentStoreAsync();
    var showBreadcrumbBackground = await settingService.GetSettingByKeyAsync<bool>("beautyShopSettings.ShowBreadcrumbPicture", storeId: store.Id, loadSharedValueIfNotFound: true);
    var breadcrumbBackgroundPictureUrl = "";
    if (showBreadcrumbBackground)
    {
        var breadcrumbBackgroundPictureId = await settingService.GetSettingByKeyAsync<int>("beautyShopSettings.BreadcrumbPictureId", storeId: store.Id, loadSharedValueIfNotFound: true);
        breadcrumbBackgroundPictureUrl = await pictureService.GetPictureUrlAsync(breadcrumbBackgroundPictureId);
    }
}

@section Breadcrumb
{

    <div class="breadcrumb-background beautyShop-secondery-color-bg" style="background-image:url('@breadcrumbBackgroundPictureUrl');">
        <div class="breadcrumb-container">
            <div class="breadcrumb-current-item">
                <h4 class="beautyShop-primary-color-text">
                    @T("News")
                </h4>
            </div>
            <div class="breadcrumb">
                <ul itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li>
                        <span>
                            <a class="beautyShop-primary-color-hover" href="@Url.RouteUrl("Homepage")">
                                <span>@T("Products.Breadcrumb.Top")</span>
                            </a>
                        </span>
                        <span class="delimiter">@breadcrumbDelimiter</span>
                    </li>
                    <li>
                        <span>
                            <span>@T("News")</span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

}

<div class="page news-list-page">
    <div class="page-title">
        <a href="@Url.RouteUrl("NewsRSS", new { languageId = Model.WorkingLanguageId })" class="link-rss" title="@T("News.RSS.Hint")">@T("News.RSS")</a>
        <h1>@T("News")</h1>
    </div>
    <div class="page-body">
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.NewsListPageBeforeItems })
        <div class="news-items">
            @foreach (var item in Model.NewsItems)
            {
                <div class="news-item">
                    <div class="news-head">
                        <a class="news-title beautyShop-primary-color-text" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">@item.Title</a>
                        <span class="news-date beautyShop-primary-color-text">-@item.CreatedOn.ToString("D")</span>
                    </div>
                    <div class="news-body">
                        @Html.Raw(item.Short)
                    </div>
                    <div class="buttons">
                        <a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })" class="read-more beautyShop-primary-color-bg">@T("News.MoreInfo")</a>
                    </div>
                    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.NewsListPageInsideItem, additionalData = item })
                </div>
            }
        </div>
        @{
            var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
        }
        @if (!(await pager.IsEmpty()))
        {
            <div class="pager">
                @pager
            </div>
        }
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.NewsListPageAfterItems })
    </div>
</div>
