@model VendorNavigationModel
@if (Model.Vendors.Count > 0)
{
    <div class="block block-vendor-navigation">
        <div class="title">
            <strong>@T("Vendors")</strong>
            <span><i class="icon-plus"></i></span>
        </div>
        <div class="listbox">
            <ul class="list">
                @foreach (var vendor in Model.Vendors)
                {
                    <li>
                        <a class="beautyShop-primary-color-hover" href="@Url.RouteUrl("Vendor", new { SeName = vendor.SeName })">@vendor.Name</a>
                    </li>
                }
            </ul>
            @if (Model.TotalVendors > Model.Vendors.Count)
            {
                <div class="view-all">
                    <a class="beautyShop-primary-color-hover" href="@Url.RouteUrl("VendorList")">@T("Vendors.ViewAll")</a>
                </div>
            }
        </div>
    </div>
}